# =========================
# Maven / Gradle (ALL projects)
# =========================
**/target/
**/build/

# =========================
# IDE files (ALL projects)
# =========================
**/.idea/
**/.vscode/
**/*.iml

# Eclipse
**/.project
**/.classpath
**/.settings/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
**/*.log

# =========================
# Environment & secrets
# =========================
**/.env
**/application-local.yml
**/application-prod.yml

# =========================
# Java compiled
# =========================
**/*.class

# =========================
# Others
# =========================
**/out/


**/node_modules/
**/application.properties